#appLogo {
  cursor: default;
  color:#fff;
}

/* navbar buttons */
.navbar-inverse .navbar-nav>li>a {
  color:#fff;
}

/* navbar buttons hover */
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color:#fff !important; background-color:#8ea6c5 !important; /* w3-theme-l2 */
  cursor: pointer;
}

/* collapsed button focus */
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #8ea6c5; /* w3-theme-l2 */
}

/* collapsed button border */
.navbar-inverse .navbar-toggle {
  border-color: #354b68; /* w3-theme-d3 */
}

/* font family of the home button */
.navbar {
  font-family: 'Noto Serif', serif;
  font-weight: 600;
  opacity: 0.9;
}
