<div id="loginStyle">
  <div class="container">

    <!-- used for right align the form -->
    <div class="col-xs-8 col-xs-offset-2">
      <h1 id="firstContent" class="text-center">Por favor, cambia tu contraseña</h1>

      <form role="form" ng-submit="changePassword()">
        <!-- this div will show only when an error occurs -->
        <div ng-if="error" class="alert alert-danger feedbackMessages">
          <strong>&#10008</strong> {{errorMsg}}
        </div>

        <!-- user name input form -->
        <div class="form-group">
          <input ng-click="hideError()" type="password" ng-model="currentPassword" class="form-control"
                 placeholder="Introduce tu contraseña actual" required />
        </div>

        <!-- user name input form -->
        <div class="form-group">
          <input ng-click="hideError()" type="password" ng-model="password" class="form-control"
                 placeholder="Introduce una contraseña" required />
        </div>

        <!-- password input form-->
        <div class="form-group">
          <input ng-click="hideError()" type="password" ng-model="rePassword" class="form-control"
                 placeholder="Repite la contraseña" required />
        </div>

        <!-- submit button form-->
        <p class="text-center">
          <button type="submit" class="btn btn-default w3-theme-action">Cambiar contraseña</button>
        </p>

      </form>
    </div>
  </div>
</div>
