<div id="favsListStyle">
  <div class="container">
    <!-- TODO DARÍO: si tienes que dotar a esta página de estilos, crea una página css con el
    nombre favsListStyle.css, en la cual cada cosa que vayas a editar tiene como padre el id
    '#favsListStyle'. Fíjate en el resto de stylesheets para entenderlo si no lo entiendes,
    y acuérdate de importarla junto al resto de stylesheets en el index.html
     -->
    <!-- Tarjetas para representar la info -->
    <div class="divider"></div>
    <div class="divider"></div>
    <fav-cards ng-repeat="poi in poiList">

    </fav-cards>
  </div>
</div>
