<div id="profileStyle">
  <div class="container">

    <!-- used for right align the form -->
    <div class="col-xs-8 col-xs-offset-2">
      <h1 id="firstContent" class="text-center">Bienvenido a tu cuenta <span class="w3-text-theme">{{name}}</span></h1>
      <p>Apellido: <span class="w3-text-theme">{{lastname}}</span></p>
      <p>Correo electrónico: <span class="w3-text-theme">{{email}}</span></p>

      <form role="form" ng-submit="settings()">
        <!-- this div will show only when an error occurs -->
        <div ng-if="error" class="alert alert-danger feedbackMessages">
          <strong>&#10008</strong> {{errorMsg}}
        </div>
        <!-- this div will show only when the operation has been a success -->
        <div ng-if="success" class="alert alert-success feedbackMessages">
          <strong>&#10004</strong> {{successMsg}}
        </div>

        <!-- user name input form -->
        <div ng-hide="google" class="form-group">
          <input ng-click="hideError();hideSuccess()" type="password" ng-model="currentPass" class="form-control"
                 placeholder="Introduce tu contraseña actual" required />
        </div>

        <!-- password input form-->
        <div ng-hide="google" class="form-group">
          <input ng-click="hideError();hideSuccess()" type="password" ng-model="newPass" class="form-control"
                 placeholder="Introduce tu nueva contraseña" />
        </div>

        <!-- submit button form-->
        <p class="text-center">
          <button ng-hide="google" ng-click="delete=false" type="submit" class="btn btn-default w3-theme-action customButton">
            Cambiar contraseña</button>
          <button ng-click="delete=true" type="submit" class="btn btn-danger customButton">
            Borrar cuenta</button>
        </p>

    </div>
  </div>
</div>
