<div id="signUpStyle">
  <div class="container">

    <div class="col-xs-8 col-xs-offset-2">
      <h1 id="firstContent" class="text-center">¡Regístrate en Pirineo's POI!</h1>

      <form role="form" ng-submit="signUp()">
        <!-- this div will show only when an error occurs -->
        <div ng-if="error" class="alert alert-danger feedbackMessages">
          <strong>&#10008</strong> {{errorMsg}}
        </div>
        <!-- this div will show only when the operation has been a success -->
        <div ng-if="success" class="alert alert-success feedbackMessages">
          <strong>&#10004</strong> {{successMsg}}
        </div>

        <!-- name input form -->
        <div class="form-group">
          <input ng-click="hideError();hideSuccess()" type="text" ng-model="name"
                 class="form-control" placeholder="Introduce tu nombre" required />
        </div>

        <!-- lastname input form -->
        <div class="form-group">
          <input ng-click="hideError();hideSuccess()" type="text" ng-model="lastname"
                 class="form-control" placeholder="Introduce tu apellido" required />
        </div>

        <!-- email input form -->
        <div class="form-group">
          <input ng-click="hideError();hideSuccess()" type="email" ng-model="email"
                 class="form-control" placeholder="Introduce tu correo electrónico" required />
        </div>

        <!-- submit button form-->
        <p class="text-center">
          <button type="submit" class="btn btn-default w3-theme-action">Registrarse</button>
        </p>

      </form>
    </div>
  </div>
</div>
