<div id="starterStyle">
  <div class="container-fluid">

    <div id="selectViewOfPoisAndRoutes">
      <div class="col-xs-6 w3-text-theme" id="viewListPOis" ng-click="hidePOIs = !hidePOIs">
        Mostrar/ocultar POIs</div>
      <div class="col-xs-6 w3-text-theme" ng-click="hideRoutes = !hideRoutes">
        Mostrar/ocultar Rutas</div>
    </div>

    <div id="poiList" class="text-center" ng-hide="hidePOIs">
      <form ng-submit="searchPOIs()"><!-- SEARCH POI INPUT -->
        <div class="input-group" style="padding:5%;padding-bottom:0">
          <input type="text" class="form-control" placeholder="Buscar" ng-model="searhedTags">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form><!--END: SEARCH POI INPUT -->

      <div class="divider"></div>
      <!-- LIST OF POIS -->
      <ul class="list-group" ng-hide="emptyPoiList()" style="margin-bottom:0">
        <li class="list-group-item" ng-repeat="poi in poiList track by $index"
            ng-click="openPOIModal(poi)" style="cursor:pointer">
          {{poi.name}}</li>
      </ul>
      <p ng-hide="!emptyPoiList()">No hay POIs que mostrar</p>
    </div>

    <!-- ROUTES SECTION -->
    <div id="routesSection" class="text-center" ng-hide="hideRoutes">
      <div style="padding:5%;padding-bottom:0">
        <button class="btn w3-theme-action customButton" type="submit" ng-hide="true"
                style="width: 100%;padding:6px 12px!important;"><!--TODO CAMBIAR CONDICIÓN PARA CUANDO ESTÉ CREADA O NO LA RUTA -->
          <i class="glyphicon glyphicon-plus-sign"></i> Nueva ruta
        </button>
        <button class="btn w3-theme-action customButton" type="submit" ng-hide="false"
                style="width: 100%;padding:6px 12px!important;"><!--TODO CAMBIAR CONDICIÓN PARA CUANDO ESTÉ CREADA O NO LA RUTA -->
          <i class="glyphicon glyphicon-ok"></i> Crear ruta
        </button>
      </div>

      <form ng-submit="routeByID()"><!-- CREATE ROUTE BY ID -->
        <div class="input-group" style="padding:5%;padding-bottom:0">
          <input type="text" class="form-control" placeholder="ID de la ruta"
                 ng-model="routeID">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-ok"></i>
            </button>
          </div>
        </div>
      </form><!--END: CREATE ROUTE BY ID -->
      <div class="divider"></div>
      <!-- ROUTE LIST -->
      <!-- ROUTE GPS -->
      <div class="divider"></div>
      <form ng-submit="sendRoute()"><!-- SEND ROUTE -->
        <div class="input-group" style="padding:5%;padding-top:0">
          <input type="text" class="form-control" placeholder="ID de la ruta"
                 ng-model="sendRouteEmail">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-send"></i>
            </button>
          </div>
        </div>
      </form><!--END: SEND ROUTE -->

    </div><!-- END: ROUTES SECTION -->

    <!-- GOOGLE MAPS SECTION -->

    <ui-gmap-google-map center="map.center" options="options" zoom="map.zoom" events="map.events"
                        style="height: 100%">

      <ui-gmap-marker idKey="'marker'" events = "map.markersEvents"ng-repeat="m in map.markers" coords="m.coords" icon="m.icon">

      </ui-gmap-marker>
    </ui-gmap-google-map>

    <!-- MODAL SECTION -->

    <!-- poi modal popup -->
    <div id="poiModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- modal content -->
        <div class="modal-content">
          <div class="modal-header text-center modalCustomTheme">
            <button class="close" data-dismiss="modal">&times;</button>
            <h2>¡Echa un vistazo a tu POI!</h2>
          </div>
          <div class="modal-body modalCustomTheme">

            <div class="row">
              <!-- pois assessment -->
              <div class="col-xs-6">
                <p ng-hide="poiModal._id==0">
                  <i class="fa fa-star-o fa-lg" ng-click="favPoi(poiModal._id)"
                     ng-hide="isFav(poiModal._id)" style="cursor:pointer"></i>
                  <i class="fa fa-star fa-lg" ng-click="favPoi(poiModal._id)"
                     ng-hide="!isFav(poiModal._id)" style="color:#ffeb3b;cursor:pointer"></i>
                  Valorar poi</p><!-- TODO DARÍO: cambiar este 'valorar po' por lo que vayas a meter para valorar el POI -->
              </div>

              <!-- owner poi -->
              <div ng-hide="ownedPoi(poiModal.owner) || poiModal._id==0" class="col-xs-6"
                   style="font-weight:600;text-align:right">
                Propiedad: <span class="modalLink" ng-click="goUser(poiModal.owner)">
              {{poiModal.owner}}</span>
              </div>
              <div ng-hide="!ownedPoi(poiModal.owner) || poiModal._id==0" class="col-xs-6"
                   style="font-weight:600;text-align:right;margin-bottom:2%">
                Propiedad: Yo
              </div>
            </div>

            <form role="form" class="form-horizontal" ng-submit="modalSubmit()">

              <!-- name input poi -->
              <div class="form-group">
                <label for="namePOI" class="control-label col-xs-2"><strong>Nombre*:</strong></label>
                <div class="col-xs-10">
                  <input id="namePOI" type="text" ng-model="poiModal.name" required
                         class="form-control" placeholder="Introduce el nombre del POI" />
                </div>
              </div>

              <!-- tags input poi -->
              <div class="form-group">
                <label for="tagsPOI"
                       class="control-label col-xs-2"><strong>Etiquetas*:</strong></label>
                <div class="col-xs-10">
                  <input id="tagsPOI" type="text" ng-model="poiModal.tags" required
                         class="form-control" placeholder="P.ej., #Etiqueta1#Etiqueta2" />
                </div>
              </div>

              <!-- coordenates input poi -->
              <div class="form-group">
                <!-- latitude input poi -->
                <label for="latPOI" class="control-label col-xs-2"><strong>Lat*:</strong></label>
                <div class="col-xs-4">
                  <input id="latPOI" type="text" ng-model="poiModal.lat" required
                         class="form-control" placeholder="Latitud" />
                </div>
                <!-- longitude input poi -->
                <label for="lngPOI" class="control-label col-xs-2"><strong>Lng*:</strong></label>
                <div class="col-xs-4">
                  <input id="lngPOI" type="text" ng-model="poiModal.lng" required
                         class="form-control" placeholder="Latitud" />
                </div>
              </div>

              <!-- description input poi -->
              <div class="form-group">
                <label for="descriptionPOI" class="control-label col-xs-2"><strong>Descripción*:</strong></label>
                <div class="col-xs-10">
                  <textarea id="descriptionPOI" rows="5" style="max-width: 100%;"
                            ng-model="poiModal.description" class="form-control" required
                            placeholder="Introduce una descripción"></textarea>
                </div>
              </div>

              <!-- url input poi -->
              <div class="form-group">
                <label for="urlPOI" class="control-label col-xs-2"><strong>Url:</strong></label>
                <div class="col-xs-8">
                  <input id="urlPOI" type="text" ng-model="poiModal.url"
                         class="form-control" placeholder="Url asociada al POI" />
                </div>
                <!-- short url poi -->
                <div class="col-xs-2 modalLink" ng-click="shortUrl(poiModal.url)">
                  Acortar
                </div>
              </div>
              <!-- image poi -->
              <div style="max-width: 200px;margin:auto">
                <!-- TODO DARÍO: Tienes que sustituir el <p></p> por el botón de subir imagen que vayas a hacer. El ng-hide lo tienes que mantener-->
                <p ng-hide="!((poiModal.image=='') && (poiModal._id == ''))">sube imagen </p>
                <img ng-hide="poiModal.image==''" class="img-responsive img-thumbnail" data-ng-src="data:image/png;base64,{{poiModal.image}}"/>
              </div>

              <p style="font-size: 75%;text-align: right">* Campos obligatorios.</p>
              <div style="text-align: right">
                <button class="btn btn-default customButton"
                        ng-click="modalButton=0;closePOIModal()">Cancelar</button>
                <button class="btn btn-danger customButton" ng-click="modalButton=1">Borrar</button>
                <button class="btn w3-theme-action customButton" ng-click="modalButton=2">Duplicar</button>
                <button class="btn btn-success customButton" ng-click="modalButton=3">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
 </div>
